<footer class="footer">
  <div class="container container--footer">
    <p>GoodReads JSON is a little project made by <a href="http://medoix.com">Medoix</a> and is available on <a href="https://gitlab.com/medoix/goodreads-json">GitLab</a>.</p>
  </div>
</footer>
